.App {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.heading {
  margin-top: 40px;
  width: 100%;
}

.green {
  background-color: yellowgreen;
}

.red {
  background-color: red;
}

.yellow {
  background-color:yellow;
}

.status {
  font-size: larger;
}

.action {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.amount-suffix {
  font-size: small;
}

.amount-prefix {
  font-weight: bolder;
}

.credit {
  color: palevioletred;
}

.paid {
  color: rgb(119, 247, 14);
  font-weight: bolder;
 
}
